@font-face {
font-family: "8Bit";
src: url("../fonts/PixelMplus10-Regular.ttf");
}
html{
    font-family: "8Bit";
}

h1 {
  text-align: center;
  font-size:10vw;
}

h2{
  font-size: 6vw;
}
h3{
  font-size: 8vw;
}
a{
  font-size: 10vw;
}
#logoutButton{
  font-size: 6vw;
}

body{
  background-color:#CCCC99;
}

.user{
  width:95vw; 
  margin:2vw 0px; 
  padding:0px 2vw; 
  border:.5vw solid black;
}

input[type=radio] {
  border: 0px;
  width: 8vw;
  height: 8vw;
}

input{
  font-size: 8vw;
  font-family: "8Bit";

}

form{
  font-size: 8vw;
}

#backButton{
  position:absolute;
  font-size: 10vw;
  top: 0vh;
  margin: 0;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

#screenshot{
  width: 90vw;
}

.centered{
  text-align: center;
}