@font-face {
font-family: "8Bit";
src: url("../fonts/misaki-gothic.ttf");
}
html{
    font-family: "8Bit";
}

h1 {
  text-align: center;
  font-size:3.0em;
}

h3{
  font-size: 8vw;
}
a{
  font-size: 10vw;
}

body{
  background-color:#CCCC99;
}

.user{
  width:95vw; 
  margin:5px 0px; 
  padding:0px 5px; 
  border:1.5px solid black;
}

input[type=radio] {
  border: 0px;
  width: 8vw;
  height: 8vw;
}

input{
  font-size: 8vw;
  font-family: "8Bit";

}

form{
  font-size: 8vw;
}

#backButton{
  position:absolute;
  font-size: 10vw;
  top: 0vh;
  margin: 0;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}