@font-face {
font-family: "8Bit";
src: url("../fonts/misaki-gothic.ttf");
}
html{
    font-family: "8Bit";
}

h1 {
  font-size:3.0em;
}

body{
  background-color:#CCCC99;
}

.user{
  width:200px; 
  margin:5px; 
  padding:5px; 
  border:1.5px solid black;
}
