

#wholeBoard{
    display: block;
    width: 98vw;
    height: 100 vh;/* 135vw; */
    max-height: 100vh;
    right: 1vw;
    position: absolute;
    background-color: rgb(238, 166, 32); /* rgba(206, 141, 29, 0.979);
    /*background-image: url("../images/wood1.jpg"); */
    background-size:inherit;
    overflow: auto;
    }

    #opInfo{
        position: absolute;
        width: 10vw;
        height: 12vw;
        margin-top: 0px;
        margin-right: 2vw;
        right: 1vw;
        z-index: 1;
    }
    #opIconBox{
        position: absolute;
        width: 100%;
        height: 70%;
        z-index: inherit;
        border: 2px solid black;
        margin: 0px;
    }
#opIcon{
    position: absolute;
    width: 100%;
    object-fit: fill;
    z-index: inherit;

}
#opNameBox{
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: inherit; 
    top:80%;
    margin: 0px;
}
#opName{
    font-size: 2.5vw;
    line-height: 0vw;
    padding-top: 10%;
    position: absolute;
    text-align: center;
    z-index: inherit;
    margin: auto;
}
    
    #board, #whiteMochigoma, #blackMochigoma{
        display: inherit;
    }
    
    #whiteMochigoma{
        margin-left: 13vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
        height: 9vw;
        width: 70vw;
        border-style: double;
    }
    
    #blackMochigoma{
        margin-left: 13vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        height: 9vw;
        width: 70vw;
        border-style: double;
    }
    
    #board{
        height: 90.2vw;
        width: 90.2vw;
        border-style: outset;
        border-color: rgba(255, 228, 181, 0.589);
        margin-left: 2.4vw;
    }
    
    #toUserPage{
        position: absolute;
        top: 124vw;
        left: 5vw;
        width: 20vw;
    }

    #undo{
        position: absolute;
        top: 107vw;
        font-size: 8vw;
        height: 9vw;
        background-color:red;
    }
    
    #playerPrompt{
        position: absolute;
        top: 112vw;
        font-size: 4vw;
    }

    #toReservation{
        position: absolute;
        top: 130vw;
        right: 40vw;
        
    }

    #resignButton{
        position: absolute;
        top: 130vw;
        right: 5vw;
        width: 20vw;
    }

    #skipButtons{
        position:absolute;
        top: 120vw;
        right: 1VW;
    }
    
    .skipButton{
        font-size: 6vw;
        background-color: rgb(238, 166, 32);
    }
   