#userLogin{
    position: absolute;
    width: 20vw;
    height: 7.5vw;
    right: 1vw;
    top: 0px;
    background-color: rgb(238, 166, 32);
    border: .5vw solid black;
}
#userLoginText{
    position:absolute;
    margin: 3%;
    width: 100%;
    font-size: 3vw;
    text-align: center;
}
p{
    font-size: 6vw;
}

#twitterContact{
    color: blue;
}

#feedback{
    font-size: 5vw;
}