

#wholeBoard{
    display: block;
    width: 98vw;
    height: 100 vh;/* 135vw; */
    max-height: 100vh;
    right: 1vw;
    position: absolute;
    background-color: rgba(238, 166, 32, 0.514); /* rgba(206, 141, 29, 0.979);
    /*background-image: url("../images/wood1.jpg"); */
    background-size:inherit;
    overflow: auto;
    }
    
    #board, #whiteMochigoma, #blackMochigoma{
        display: inherit;
    }
    
    #whiteMochigoma{
        margin-left: 13vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
        height: 9vw;
        width: 70vw;
        border-style: double;
    }
    
    #blackMochigoma{
        margin-left: 13vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        height: 9vw;
        width: 70vw;
        border-style: double;
    }
    
    #board{
        height: 90.2vw;
        width: 90.2vw;
        border-style: outset;
        border-color: rgba(255, 228, 181, 0.589);
        margin-left: 2.4vw;
    }
    
    #toUserPage{
        position: absolute;
        top: 124vw;
        left: 5vw;
        width: 20vw;
    }
    
    #playerPrompt{
        position: absolute;
        top: 112vw;
        font-size: 4vw;
    }

    #submitButton{
        position: absolute;
        top: 130vw;
        right: 5vw;
        width: 20vw;
    }

   