.gameURL{
    font-size: 6vw;
}

#nameIconRating{
    display: inline-block;
    height: 15vh;
    line-height: .5;
}

#userIcon{
    position: absolute;
    right:2vw;
    width: 25vw;
}

.floatLeft{
    text-align: left;
}

#settings{
    text-align: right;
    font-size: 3vw;
}

#passForm{
    visibility: hidden;
}

.formLabel{
    font-size: 4vw;
}