#userLogin {
    position: absolute;
    width: 20vw;
    height: 7.5vw;
    right: 1vw;
    top: 0px;
    background-color: rgb(238, 166, 32);
    border: 0.5vw solid black;
}
#userLoginText {
    position: absolute;
    margin: 3%;
    width: 100%;
    font-size: 3vw;
    text-align: center;
}
p {
    font-size: 6vw;
}

#twitterContact {
    color: blue;
}

#feedback {
    font-size: 5vw;
}

.paragraphText {
    color: rgb(61, 58, 53);
}
#buttonRow {
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
}

#compForm {
    width: 100%;
    font-size: 6vw;
    border: 2px solid black;
    background-color: rgb(192, 190, 184);
}
